<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content = "width=device-width, initial-scale=1.0">
  <meta http-equiv = "X-UA-Compatible" content = "ie=edge">
  <title>Document</title>
  <link type = "text/css" rel="stylesheet" href = "/stylesheets/style.css" >
</head>
<body>
  <div class="login-box">
			<h1>Login Here</h1>
				<form id="form" method="POST">
				<p>Email</p>
				<input type="text" name="email" placeholder="Enter email" required>
				<p>Password</p>
				<input type="password" name="password" placeholder="Enter Password" required>
				<input type="submit" value="Login">
			    <br> <br>  
				<a href="/auth/signup">Create an account</a><br><br>
				<a href="/">Home Page</a><br>
				<div id = "checker"><%= msg %></div>
			</form>
      </div>
      
      
</body>
</html>