<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>paperless.io</title>
    <link href="https://unpkg.com/tailwindcss@^1.0/dist/tailwind.min.css" rel="stylesheet">
    <style type="text/css">
        body {
            scroll-behavior: smooth;
        }

        @media (min-width: 1024px) {
            .top-navbar {
                display: inline-flex !important;
            }
        }

        .hoverbtn {
            background: linear-gradient(57deg, rgb(5, 248, 228), rgb(3, 60, 245));
        }

        .hoverbtn:hover {
            background: linear-gradient(57deg, rgb(3, 60, 245), rgb(5, 248, 228));
        }
    </style>
</head>

<body>
    <div class="bg-gray-900 sm:h-screen">
        <nav class="flex items-center bg-gray-900 p-3 flex-wrap">
            <a href="#" class="p-2 mr-4 inline-flex items-center">
                <svg viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"
                    class="fill-current text-white h-8 w-8 mr-2">
                    <path
                        d="M12.001 4.8c-3.2 0-5.2 1.6-6 4.8 1.2-1.6 2.6-2.2 4.2-1.8.913.228 1.565.89 2.288 1.624C13.666 10.618 15.027 12 18.001 12c3.2 0 5.2-1.6 6-4.8-1.2 1.6-2.6 2.2-4.2 1.8-.913-.228-1.565-.89-2.288-1.624C16.337 6.182 14.976 4.8 12.001 4.8zm-6 7.2c-3.2 0-5.2 1.6-6 4.8 1.2-1.6 2.6-2.2 4.2-1.8.913.228 1.565.89 2.288 1.624 1.177 1.194 2.538 2.576 5.512 2.576 3.2 0 5.2-1.6 6-4.8-1.2 1.6-2.6 2.2-4.2 1.8-.913-.228-1.565-.89-2.288-1.624C10.337 13.382 8.976 12 6.001 12z" />
                </svg>
                <span class="text-xl text-white font-bold italic tracking-wide">paperless.io</span>
            </a>
            <button class=" inline-flex p-3 lg:hidden ml-auto nav-toggler" data-target="#navigation">
                <!-- <i class="material-icons">menu</i> -->
                <img src="https://www.pinclipart.com/picdir/big/83-832401_sleek-custom-mini-metal-focus-usb-flash-drives.png"
                    class="w-8 h-8">
            </button>
            <div class="hidden top-navbar w-full lg:inline-flex lg:flex-grow lg:w-auto" id="navigation">
                <div
                    class="lg:inline-flex lg:flex-row lg:ml-auto lg:w-auto w-full lg:items-center items-start  flex flex-col lg:h-auto">
                    <a href="#"
                        class="lg:inline-flex lg:w-auto w-full px-3 py-2 rounded text-gray-400 items-center justify-center hover:bg-gray-900 hover:text-white">
                        <span>HOME</span>
                    </a>
                    <a href="#pros"
                        class="lg:inline-flex lg:w-auto w-full px-3 py-2 rounded text-gray-400 items-center justify-center hover:bg-gray-900 hover:text-white">
                        <span>PROS</span>
                    </a>
                    <a href="#contact"
                        class="lg:inline-flex lg:w-auto w-full px-3 py-2 rounded text-gray-400 items-center justify-center hover:bg-gray-900 hover:text-white">
                        <span>CONTACT</span>
                    </a>
                    <a href="auth/login"
                        class="sm:ml-8 sm:border-2 sm:border-black lg:inline-flex lg:w-auto w-full px-5 py-2 text-gray-200 items-center justify-center hover:text-white bg-green-500">
                        <span>LOGIN</span>
                    </a>
                    <a href="auth/signup"
                        class="sm:ml-2 sm:border-2 sm:border-black lg:inline-flex lg:w-auto w-full px-5 py-2 text-gray-200 items-center justify-center hover:text-white bg-teal-500">
                        <span>SIGNUP</span>
                    </a>
                </div>
            </div>
        </nav>
        <div class="h-12 sm:h-32 sm:mx-16 opacity-75 rounded-b-lg"
            style="background: linear-gradient(57deg,rgb(0, 0, 0),rgb(136, 136, 136));"></div>
        <div class="flex flex-col font-sans sm:-mt-16 h-full"
            style="background: url('https://ak.picdn.net/shutterstock/videos/31208530/thumb/1.jpg'); background-repeat: no-repeat; background-size: cover; background-position: center;">
            <div class="container mx-auto mt-2 px-5 bg-white shadow-2xl z-10">
                <main class="flex flex-col-reverse sm:flex-row jusitfy-between items-center py-12">
                    <div class="sm:w-2/5 flex flex-col items-center sm:items-start text-center sm:text-left">
                        <h1 class="uppercase text-6xl text-blue-900 font-bold leading-none tracking-wide mb-2">PAPERLESS
                        </h1>
                        <h2 class="mt-4 uppercase text-2xl text-orange-500 text-secondary tracking-widest mb-6">work
                            smartly</h2>
                        <p class="text-gray-600 leading-relaxed mb-12">Saves paper, saves time, easy to use. Helpful in
                            queue processing. User can fill the respective form of an organisation and can easily
                            generate a unique QRcode which is helpful during queue processing</p>
                        <a href="/auth/login" class="hoverbtn py-6 px-6 text-white text-xl font-bold rounded-lg"
                            style="">GETTING
                            STARTED</a>
                        <a href="/admin"
                            class="mt-8 bg-gray-900 hover:bg-black py-3 px-6 text-white text-lg font-bold rounded-lg">ADMIN
                            (DEMO TEST FOR SCANNING QR FORMS)</a>
                    </div>
                    <div class="mb-16 sm:mb-0 mt-8 sm:mt-0 sm:w-3/5 sm:pl-12">
                        <!-- SVG -->
                        <img src="/images/svg.png" class="">
                    </div>
                </main>
            </div>
        </div>
    </div>
    <!-- pros below -->
    <div class="mt-2 sm:mt-32 sm:h-screen px-2 sm:px-32 sm:pt-16" id="pros"
        style="background: url('https://ak.picdn.net/shutterstock/videos/31208530/thumb/1.jpg'); background-repeat: no-repeat; background-size: cover; background-position: center;">
        <div class="flex flex-wrap">
            <div
                class="w-full sm:w-1/3 md:w-1/3 lg:w-1/3 xl:w-1/3 p-8 transition duration-500 ease-in-out transform hover:-translate-y-1 hover:scale-110">
                <div class="h-full">
                    <div class="h-1/2">
                        <img src="/images/save_paper.png" alt="mountains" class="w-full h-64 rounded-lg rounded-b-none">
                    </div>
                    <div class="h-1/2 bg-gray-900 p-5 text-white">
                        <div class="text-xl font-bold text-center p-2">SAVES PAPER</div>
                        Organisational forms can be filled through your own device smartphone, tablets, portable-pc thus
                        saves papers and its cost
                    </div>
                </div>
            </div>
            <div
                class="w-full sm:w-1/3 md:w-1/3 lg:w-1/3 xl:w-1/3 p-8 transition duration-500 ease-in-out transform hover:-translate-y-1 hover:scale-110">
                <div class="">
                    <div class="h-1/2">
                        <img src="https://blog.marshallinstitute.com/content/images/2020/03/AdobeStock_283114904--Converted--1.png"
                            alt="mountains" class="w-full h-64 rounded-lg rounded-b-none">
                    </div>
                    <div class="h-1/2 bg-gray-900 p-5 text-white">
                        <div class="text-xl font-bold text-center p-2">SAVES TIME</div>
                        <div class=""> Easy to use, no need to worry about pen and place to write. Device keyboard can
                            be use
                            effectively thus it saves time.
                        </div>
                    </div>
                </div>
            </div>
            <div
                class="w-full sm:w-1/3 md:w-1/3 lg:w-1/3 xl:w-1/3 p-8 transition duration-500 ease-in-out transform hover:-translate-y-1 hover:scale-110">
                <div class="">
                    <div class="h-1/2">
                        <img src="https://www.divineit.net/media/original_images/Cyber-Security_C20hr7G.png"
                            alt="mountains" class="w-full h-64 rounded-lg rounded-b-none">
                    </div>
                    <div class="h-1/2 p-5 bg-gray-900">
                        <div class="text-xl font-bold text-center text-white p-2">SECURE</div>
                        <span class="text-white">
                            Form filled by a user is encoded in the form of QRcode which acts as a public key to the
                            user and that can be used later.
                        </span>
                    </div>
                </div>
            </div>

        </div>
    </div>

    <!-- contact page below -->

    <div id="contact" class="flex justify-center sm:h-screen px-8 py-4 sm:px-32 sm:py-16 bg-gray-300">
        <div class="w-full h-full flex flex-wrap shadow-xl">
            <div class="hidden sm:block w-full h-full sm:w-1/2">
                <img class="w-full h-full"
                    src="https://image.freepik.com/free-vector/man-with-headphones-microphone-with-computer_113065-136.jpg">
            </div>
            <div class="w-full h-full sm:w-1/2 bg-white border-8 border-gray-900">
                <div class="mx-4 mt-4 p-2 bg-gray-900 text-white font-bold text-4xl text-center">CONTACT</div>
                <div class="m-8 sm:mx-12 mx-4 text-xl">
                    <div
                        class=" flex p-5 bg-gray-500 transition duration-500 ease-in-out transform hover:-translate-y-1 hover:scale-110">
                        <img src="https://icons.iconarchive.com/icons/dtafalonso/android-l/256/Gmail-icon.png"
                            class="w-8 h-8 mr-4">
                        workpritish@gmail.com
                    </div>
                    <div
                        class=" mt-4 flex p-5 bg-gray-500 transition duration-500 ease-in-out transform hover:-translate-y-1 hover:scale-110">
                        <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/e/e9/Linkedin_icon.svg/1200px-Linkedin_icon.svg.png"
                            class="w-8 h-8 mr-4">
                        <a href="https://www.linkedin.com/in/pritish-patel-6b5a78191/">Linkedin</a>
                    </div>
                    <div
                        class=" mt-4 flex p-5 bg-gray-500 transition duration-500 ease-in-out transform hover:-translate-y-1 hover:scale-110">
                        <img src="https://cdn0.iconfinder.com/data/icons/octicons/1024/mark-github-512.png"
                            class="w-8 h-8 mr-4">
                        <a href="https://github.com/work-pritish">GITHUB</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <footer class="flex justify-center px-4 text-gray-100 bg-gray-800">
        <div class="container py-6">
            <hr class="h-px mt-6 bg-gray-700 border-none">
            <div class="flex flex-col items-center justify-between mt-6 md:flex-row">
                <div>
                    <a href="#" class="text-xl font-bold italic">paperless</a>
                </div>
                <div class="flex mt-4 md:m-0">
                    <div class="-mx-4">
                        DESIGNED BY PRITISH :-)
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.0/jquery.min.js"
        integrity="sha256-xNzN2a4ltkB44Mc/Jz3pT4iU1cmeR0FkXs4pru/JxaQ=" crossorigin="anonymous"></script>
    <script>
        $(document).ready(function () {
            $(".nav-toggler").each(function (_, navToggler) {
                var target = $(navToggler).data("target");
                $(navToggler).on("click", function () {
                    $(target).animate({
                        height: "toggle"
                    });
                });
            });
        });

    </script>
</body>

</html>