body{
    margin: 0;
    padding: 0;   
  }
.inner{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
#particles-js{
  height: 100%;
  width: 100%;
}
.box{
  height: 600px; 
  width: 800px; 
  background: url('/images/file.gif'); 
}

