body{
    margin: 0;
    padding: 0;
    background: url(/images/front_back.jpg);
    font-family: sans-serif;
    background-position: center center; 
    background-repeat: no-repeat; 
    background-attachment: fixed; 
    background-size: cover; 
    background-color: #464646; 
    
  }
  
  /*login box division*/
  .login-box{
    width: 320px;
    height: 480px;
    background: rgba(0, 0, 0, 0.63);
    color: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-sizing: border-box;
    padding: 40px 30px;
  }
  
  h1{
    margin: 0;
    padding: 0 0 20px;
    text-align: center;
    font-size: 22px;
  }
  .login-box p{
    margin: 0;
    padding: 0;
    font-weight: bold;
  }
  .login-box input{
    width: 100%;
    margin-bottom: 20px;
  }
  .login-box input[type="text"],input[type="password"]
  {
    border: none;
    border-bottom: 1px solid #fff;
    background: transparent;
    outline: none;
    height: 40px;
    color: #fff;
    font-size: 16px;
  }
  .login-box input[type="submit"]
  {
    border: none;
    outline: none;
    height: 40px;
    background: linear-gradient(57deg,rgb(5, 248, 228),rgb(3, 60, 245));
    color: #fff;
    font-size: 18px;
    border-radius: 20px;
  }
  .login-box input[type="submit"]:hover
  {
    cursor: pointer;
    background:rgb(3, 238, 238);
    color: rgb(5, 4, 4);
  }
  
  .login-box a{
    text-decoration: none;
    font-size: 14px;
    color: #fff;
  }
  .login-box a:hover
  {
    color: #39dc79;
  }
  #checker{
    background-color: white;
    color: black;
    margin-top: 30px;
    padding: 10px;  
  }

  @media (max-width: 576px)
  {
    body{
      background: grey;
    }
  }